<suite name="ParallelTests" parallel="methods" thread-count="5">
    <test name="Test1">
        <classes>
            <class name="com.maupham.demo.tests.LoginTest"/>
            <class name="com.maupham.demo.tests.InventoryTest"/>
            <class name="com.maupham.demo.tests.ComepleteChecoutkTest"/>
            <class name="com.maupham.demo.tests.CheckoutStepOneTest"/>
            <class name="com.maupham.demo.tests.CheckoutStepTwoTest"/>
        </classes>
    </test>
</suite>